<h1> Come Get Your Change!!!</h1>

<form action='/detector' method='get'>
  <div class="form-group">
    <label form_id="coin_input">Gimme your money!</label>
    <input id ="coin_input" name="coin_input" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">What? You can't count?</button>

</form>
